logger:
  level: 0
  path:
inbox:
  path: queue/inbox
  plugins:
    - path: plugins/archive_mail.rb
      prefix: inbox
      dirname: archives
    - path: plugins/print_summary.rb
outbox:
  path: queue/outbox
  plugins:
    - path: plugins/archive_mail.rb
      prefix: outbox
    - path: plugins/send_smtp.rb
      host: localhost
      port: 25
      sender_host: localhost
    - path: plugins/print_summary.rb
