logger:
  level: 0
  path: 

maildirs:
  - path: queue/inbox
    plugins:
      - script: plugins/archive_mail.rb
        dirname: archives
      - script: plugins/print_summary.rb

  - path: queue/outbox
    plugins:
      - script: plugins/archive_mail.rb
        dirname: archives
        limit: 2
      - script: plugins/send_smtp.rb
        host: localhost
        port: 25
        sender_host: example.com
      - script: plugins/print_summary.rb
